<div class="panel panel-info">
	<div class="panel-heading">Create New Sensor</div>
	<div class="panel-body">
		<form novalidate="novalidate" class="form-horizontal">
			<div class="form-group">
				<label for="sensorID" class="col-sm-2 control-label">Sensor ID:</label>
				<div class="col-sm-10">
					<input type="text" ng-model="sensor.id"
						   class="form-control" id="sensorID" placeholder="" />
				</div>
			</div>
			<div class="form-group">
				<label for="sensorName" class="col-sm-2 control-label">Sensor Name:</label>
				<div class="col-sm-10">
					<input type="text" ng-model="sensor.name"
						   class="form-control" id="sensorName" placeholder="" />
				</div>
			</div>
			<div class="form-group">
				<label for="createdAt" class="col-sm-2 control-label">Registered Time:</label>
				<div class="col-sm-10">
					<input type="text" ng-model="sensor.createdAt" class="form-control"
						   id="createdAt" placeholder="" />
				</div>
			</div>
			<div class="form-group">
				<label for="createdBy" class="col-sm-2 control-label"> Registered By:</label>
				<div class="col-sm-10">
					<select class="form-control" ng-model="sensor.createdBy"
						ng-options="user.userID as user.givenName for user in users ">
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="status" class="col-sm-2 control-label"> Status:</label>
				<div class="col-sm-10">
					<input type="text" ng-model="sensor.status" class="form-control"
						   id="status" placeholder="" />
				</div>
			</div>
			<div class="form-group">
				<label for="stream" class="col-sm-2 control-label">Stream ID:</label>
				<div class="col-sm-10">
					<select class="form-control" ng-model="sensor.streamID"
						ng-options="stream.id as stream.name for stream in streams ">
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="members" class="col-sm-2 control-label">Members:</label>
				<div class="col-sm-10">
					<input type="text" ng-model="sensor.members"
						   class="form-control" id="members" placeholder="" />
				</div>
			</div>
			<div class="form-group">
				<label for="metadata" class="col-sm-2 control-label">Metadata List:</label>
				<div class="col-sm-10">					
					<multiselect
					    ng-model="sensor.metas"
					    options="meta.key for meta in metas"    
					    data-multiple="true"                  
					    data-compare-by="id"                  
					    scroll-after-rows="5"                
					    filter-after-rows="5                  
					    max-width="100"                       
					    tabindex="-1">                        
					</multiselect>
				</div>
			</div>
			<div class="form-group">
				<label for="tag" class="col-sm-2 control-label">Tag List:</label>
				<div class="col-sm-10">					
					<multiselect
					    ng-model="sensor.tags"
					    options="tag.name for tag in tags"  
					    data-multiple="true"                 
					    data-compare-by="id"          
					    scroll-after-rows="5"    
					    filter-after-rows="5   
					    max-width="100"            
					    tabindex="-1">        
					</multiselect>
					<!-- <select class="form-control" ng-model="sensor.tags"
						ng-options="tag.tagID as tag.name for tag in tags">
					</select> -->
				</div>
			</div>
			<div class="form-group">
				<label for="Instrument" class="col-sm-2 control-label">Instrument:</label>
				<div class="col-sm-10">
					<input type="text" ng-model="sensor.instrument"
						   class="form-control" id="Instrument" placeholder="" />
				</div>
			</div>
			<div class="form-group">
				<label for="Description" class="col-sm-2 control-label">Description:</label>
				<div class="col-sm-10">
					<input type="text" ng-model="sensor.description"
						   class="form-control" id="Description" placeholder="" />
				</div>
			</div>
			<div class="btn-group btn-md pull-right">
				<button type="button" ng-click="createSensor(sensor)" class="btn btn-info ">Create</button>
				<button type="button" ng-click="cancel()" class="btn btn-warning">Cancel</button>
			</div>
		</form>
	</div>
</div>