<div class="panel panel-info">
	<div class="panel-heading">
		Log List
		<div class="form-inline pull-right">
			<label for="species"> Search: </label> <input type="text" id="search"
				class="form-control" ng-model="search" placeholder="search... " />
		</div>
	</div>
	<div class="panel-body">
		<div class="row content">
			<div class="col-sm-2 sideav">
				<div>
					<h5></h5>
				</div>
				<form class="form">
					<label for="stream" class="control-label">Stream ID: </label> 
					<input type="text" id="stream" class="form-control hasclear"
						ng-model="search.streamID"> 
					<label for="startTime" class="control-label ">Start Time: </label> 
					<input type="text" id="startTime" class="form-control hasclear"
						ng-model="search.startTime">

				</form>
			</div>
			<div class="col-sm-10 text-left">
				<table class="table table-striped">
					<thead>
						<tr class="paginationclass">
							<th>ID</th>
							<th>Stream ID</th>
							<th>Persistence Start </th>
							<th>Persistence Stop </th>
							<th colspan="2">
								<button ng-click="createLog()"
									class="btn btn-sm btn-info pull-right">
									<span class="glyphicon glyphicon-plus"></span> Create Log
								</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="paginationclass"
							ng-repeat="log in logs | filter:search | pagination: (currentPage-1) * numPerPage | limitTo: numPerPage">
							<td>{{ log.logID }}</td>
							<td>{{ log.streamID }}</td>
							<td>{{ log.startTime }}</td>
							<td>{{ log.endTime }}</td>
							<td>
								<div class="form-inline pull-right">
									<button type="button" ng-click="editLog(log.logID)"
										class="btn btn-sm btn-info">
										<span class="glyphicon glyphicon-edit"></span> Edit
									</button>
									<button type="button" ng-click="deleteLog(log.logID)"
										class="btn btn-sm btn-warning">
										<span class="glyphicon glyphicon-trash"></span> Delete
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div align="center">
					<uib-pagination ng-model="currentPage" total-items="logs.length"
						max-size="maxSize" items-per-page="numPerPage"
						boundary-links="true"> </uib-pagination>
				</div>
			</div>
		</div>
	</div>
</div>