<div class="panel panel-info">
	<div class="panel-heading">
		Instrument List
		<div class="form-inline pull-right">
			<label for="search"> Search: </label> <input type="text" id="search"
				class="form-control" ng-model="search" placeholder="search... " />
		</div>

	</div>
	<div class="panel-body">
		<div class="row content">
			<div class="col-sm-2 sideav">
				<div>
					<h5></h5>
				</div>
				<form class="form">
					<label for="productModel" class="control-label"> Product Model: </label> 
					<input type="text" id="productModel" class="form-control hasclear"
						ng-model="search.productModel"> 
						
					<label for="measureType" class="control-label "> Measure Type: </label> 
					<input type="text" id="measureType" class="form-control hasclear"
						ng-model="search.measureType"> 
					
				</form>
			</div>
			<div class="col-sm-10 text-left">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Manufacturer</th>
							<th>ProductModel</th>
							<th>MeasureType</th>
							<th colspan="2">
								<button ng-click="createInstrument()"
									class="btn btn-sm btn-info pull-right">
									<span class="glyphicon glyphicon-plus"></span> Create Instrument
								</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr
							ng-repeat="instrument in instruments | filter:search | pagination: (currentPage-1) * numPerPage | limitTo: numPerPage">

							<td>{{ instrument.methodID }}</td>
							<td>{{ instrument.methodName }}</td>
							<td>{{ instrument.manufacturer }}</td>
							<td>{{ instrument.productModel }}</td>
							<td>{{ instrument.measureType }}</td>
							<td>
								<div class="form-inline pull-right">
									<button type="button" ng-click="editInstrument(instrument.methodID)"
										class="btn btn-sm btn-info">
										<span class="glyphicon glyphicon-edit"></span> Detail
									</button>
									<button type="button" ng-click="deleteInstrument(instrument)"
										class="btn btn-sm btn-warning">
										<span class="glyphicon glyphicon-trash"></span> Delete
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div align="center">
					<uib-pagination ng-model="currentPage" total-items="instruments.length"
						max-size="maxSize" items-per-page="numPerPage"
						boundary-links="true"> </uib-pagination>
				</div>
			</div>
		</div>
	</div>
</div>